/* General setup */

@font-face {
	font-family: abel-regular;
	src: url(fonts/abel-regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
	font-family: abel-regular;
	font-size: 12px;
}
header h1 {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
}

body {
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.5;
	letter-spacing: 2px;
	word-spacing: 4px;
	margin-bottom: 1.5rem;
}

section h2+p {
	text-indent: 20px;
}


a { /*a选择器，选择所有链接*/
	color: #a66;
}

a[href*="http"]{/*在链接中包含图标*/
	background: url('images/external-link-icon.png') no-repeat 100% 0;
	background-size: 16px 16px;
	padding-right: 19px;
}

a:focus{ /*设置选中(focus)的链接*/
	outline: none;
	text-decoration: none;
}

a:hover{ /*设置悬停(hover)的链接*/
	text-decoration: none;
}

a:active{ /*可以给链接一个不同的配色方案，当链接被激活(activated)时，使其更明显*/
	background: #a66;
	color: #7B4545;
}

/*设置列表样式*/
ol, ul {
	line-height: 1.5;
	margin-bottom: 1.5rem;
	font-weight: bold;
	list-style-type: square;
}

/*样式化导航栏菜单*/
nav a {
	font-size: 15px;
    outline: none;
    text-decoration: none;
    line-height: 3;
    color: #a66;
}

nav li {
	list-style-type: none;
	text-align: center;
	border: 2px solid #a66;
	padding: 15px;
	margin-bottom: 1.5rem;
}