<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/testRequestByServletAPI}">通过 servletAPI 向Request共享数据</a> <br><br>
<a th:href="@{/testModelAndView}">通过 ModelAndView 向Request共享数据</a> <br><br>
<a th:href="@{/testModel}">通过 Model 向Request共享数据</a> <br><br>
<a th:href="@{/testMap}">通过 Map 向Request共享数据</a> <br><br>
<a th:href="@{/testModelMap}">通过 modelMap 向Request共享数据</a> <br><br>
<a th:href="@{/testSession}">通过 servletAPI 向Session共享数据</a> <br><br>
<a th:href="@{/testApplication}">通过 servletAPI 向Application共享数据</a> <br><br>
</body>
</html>