.content {
    width: 990px;
    margin: 20px auto;
}

.title {
    width: 100%;
    border-bottom: 2px solid red;
}

.title-content {
    width: 300px;
    height: 40px;
    margin: 30px auto;
}

.img {
    float: left;
}

.text {
    margin-left: 20px;
    float: left;
    color: #3e3e3e;
    font-weight: 900;
    line-height: 50px;
    font-size: 24px;
}


.mian {
    padding: 50px;
    margin: 0 auto;
}

form {
    width: 550px;
    margin: 10px auto;
    padding-left: 200px;
}

.input-text {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 20px;
    font-weight: 100;
    font-size: 14px;
}

.input {
    border: 1px solid #dedede;
    width: 202px;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 14px;
}

.tongyi {
    padding-left: 50px;
    color: #3c3c3c;
    font-size: 12px;
}

.tongyi input {
    margin-right: 10px;
}

.tongyi a {
    text-decoration: none;
    color: red;
}

.tongyi a:hover {
    text-decoration: underline;
}

.submit {
    padding-left: 60px;
    margin: 0px auto;

}

.btn{
    color: #757575;
    height: 30PX;

}

.submit input {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background: #ff4001;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

#phonenumberNode {
    color: red;
    font-size: 12px;
    padding-left: 110px;
    opacity: 0;
}

#getCode {
    display: flex;
}