<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianmao.mapper.DictDistrictMapper">

    <!--List<DictDistrict> selectDistrictByParent(Integer parent);-->
    <select id="selectDictDistrictByParent" resultType="com.tianmao.pojo.DictDistrict">
        select
             id,parent,`code`,`name`
        from
             t_dict_district
        where
             parent=#{parent}
        order by code asc
    </select>
    <!--String selectNameByCode(String code);-->
    <select id="selectNameByCode" resultType="java.lang.String">
        select
            `name`
        from
            t_dict_district
        where
            code=#{code}
    </select>
</mapper>